<nav>
    <ul>
        <li><a href="/">Pagina principal</a></li>
         <li><a href="/pastor_aleman">Pastor Alemán</a></li>
          <li><a href="/golden">Golden Retriver</a></li>
           <li><a href="/pequines">Pequines</a></li>
    </ul>
</nav>  