<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    {{>menu}}
    <div class="contenidoPrincipal">
    <h1>Golden Retriever</h1>
    <p>Famoso por su pelaje dorado y brillante de longitud media, el Golden Retriever grande tiene una expresión amistosa y una simetría perfecta. Se desplaza con un pasos largos y fuertes en un movimiento fluido y soberbio. Los machos adultos miden entre 56 y 61 cm y pesan de 30 a 34 kg. Las hembras adultas miden entre 51 y 56 cm y pesan de 27 a 32 kg.</p>
    <h2>Características generales del Golden Retriever</h2>
    <p>El Golden Retriever es conocido por ser un perro amigable, afectuoso e inteligente. Su disposición equilibrada y su naturaleza amable los hacen populares como mascotas y compañeros familiares. Estos perros son socialmente adaptables y tienden a llevarse bien con niños y otras mascotas. Su inteligencia y disposición para aprender los hacen aptos para diversas actividades, desde juegos hasta obediencia y terapia.</p>
    <p>Físicamente, los Golden Retrievers tienen un pelaje denso y brillante, con colores que varían en tonalidades doradas. Su expresión facial refleja su amabilidad y expresividad.</p>
    <p>Además de su personalidad encantadora, son conocidos por su entusiasmo y amor por el agua. Su origen como perros de caza para recuperar presas acuáticas ha dejado una marca en su amor por nadar y participar en actividades acuáticas.</p>
    <p>En resumen, el Golden Retriever es un perro versátil, cariñoso, inteligente y activo, conocido por su naturaleza amigable y adaptabilidad en diversos entornos familiares.</p>
    <h2>Video</h2>
   
     <iframe class="video-container" src="https://www.youtube.com/embed/ynvGTvzZZw4?si=KGOcpZAZZokveGg0" frameborder="0" allowfullscreen></iframe>
      </div>
    {{>footer}}
    
</body>
</html>