<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    
</head>
<body>
    {{>menu}}
    <div class="contenidoPrincipal">
    <h1>¿Qué es un perro doméstico?</h1>
    <p>El término “perro doméstico” se refiere a cualquiera de los cientos de razas de perros que hay en el mundo hoy en día.Si bien estos animales varían drásticamente en cuanto a su apariencia, todos los perros, desde el chihuahua hasta el gran danés, son miembros de la misma especie, Canis familiaris. Esto separa a los perros domésticos de los caninos salvajes, como coyotes, zorros y lobos.</p>
    <p>Los perros domésticos se mantienen principalmente como mascotas, aunque muchas razas son capaces de sobrevivir por sí mismas, ya sea en un bosque o en las calles de una ciudad. Según un estudio realizado en 2016, un tercio de todos los hogares del mundo tienen un perro. Esto convierte al perro doméstico en la mascota más popular del planeta.</p>
    <h2>Orígenes evolutivos</h2>
    <p>Todos los perros descienden de una especie de lobo, pero no del lobo gris (Canis lupus), como suponen muchas personas. De hecho, la evidencia de ADN sugiere que el antepasado lobo ahora extinto de los perros modernos era euroasiático. Sin embargo, los científicos aún están trabajando para comprender exactamente qué especies dieron origen a los perros.</p>
    <p>Cuándo los perros se separaron de sus ancestros salvajes también es un misterio, pero la genética sugiere que ocurrió entre 15.000 y 30.000 años atrás.</p>
    <p>Si bien es imposible decir exactamente cómo una especie de lobo salvaje se convirtió en un perro domesticado, la mayoría de los científicos creen que el proceso ocurrió gradualmente a medida que los lobos se sentían más cómodos con los seres humanos. Quizás los lobos comenzaron este camino simplemente comiendo restos humanos.</p>
    <h2>Razas de perros</h2>
    <p>Hoy en día, muchos de los perros que conoces y amas son el producto de la crianza selectiva entre individuos con rasgos deseables, ya sea físicos o de comportamiento. Por ejemplo, hace alrededor de 9500 años, los pueblos antiguos comenzaron a criar perros que eran más capaces de sobrevivir y trabajar en el frío. Estos perros se convertirían en la familia de perros de trineo, incluidas razas como huskies y malamutes, que permanece relativamente sin cambios en la actualidad.</p>
    <p>Del mismo modo, los humanos criaron pastores alemanes por su capacidad para arrear ganado, perros labradores retriever para ayudar a recolectar patos y otras presas derribadas por los cazadores y perros salchicha por su capacidad para correr por una madriguera detrás de un tejón. Se crearon muchas más razas para satisfacer otras necesidades humanas, como la protección del hogar y el control de alimañas.</p>
    <p>También se han creado ciertas razas para hacer que los perros sean más deseables como compañeros. Por ejemplo, el labradoodle, que combina los rasgos de un labrador retriever y un caniche, se inventó como un intento de crear un perro guía hipoalergénico .</p>
    <h2>Estas son algunas de las imaganes de los perros domesticos</h2>
    <div>
        <img src="assets/img/perrosdomesticos.jpg" alt="Perro domestico">  
        <img src="assets/img/perrosdomesticos2.jpg" alt="Perro domestico">    
    </div>
    </div>
    {{>footer}}
</body>
</html>