<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
       <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    {{>menu}}
    <div class="contenidoPrincipal">
    <h1>Pequinés</h1>
    <p>El pequinés tiene un cuerpo equilibrado, bajo, alargado y compacto. La cabeza es grande en proporción al cuerpo y su hocico es corto y ancho.  Su altura a la cruz (desde el suelo hasta la parte más alta de los omoplatos) oscila entre los 15 y  los 23 cm, y su peso es de 3 a 6 kg. Los ojos son grandes, redondos y oscuros, de expresión alerta, dulce e inteligente. Su cola, cubierta de mucho pelo largo, es de inserción alta. La lleva sobre la espalda en un arco gracioso y puede inclinarse hacia los lados. Las orejas, pequeñas y en forma de corazón, también están cubiertas de pelo largo. La esperanza de vida del pequinés es larga, viven una media de 12 a 15 años.</p>
    <h2>Historia</h2>
    <p>Esta pequeña raza es una derivación de los míticos perros lanudos del Tíbet. Derivación tras derivación, se conocen las primeras documentaciones oficiales en grabados coreanos de hace cuatro mil años, y otros del siglo VIII d. C. inmersos ya en la corte imperial china, en plena dinastía Tang.</p>
    <p>Para los habitantes del Celeste imperio, este animal surgía en una época mitológica, y aquí hay un pequeño párrafo sobre este origen:</p>
    <ul>
        <li>Perdidamente enamorado de una pequeña mona, el rey león pidió permiso al dios Mago Hai Ho para desposarla.</li>
        <li>Si estás dispuesto a sacrificar tu fuerza y tu tamaño, te doy mi consentimiento, fue la respuesta del dios.</li>
    </ul>
    <p>Así, según la leyenda china, nació el pequinés. Valiente y orgulloso como su padre y pequeño, amoroso e inteligente como su madre.</p>
    <p>Apreciado por el budismo, el perro-león fue convertido en la Antigua China en un símbolo mismo de esta religión. Capricho y pasión de la familia imperial, vivió durante siglos en la Ciudad Prohibida en Pekín (de ahí el patronímico de la raza), sin ningún contacto con el mundo exterior.</p>
    <p>En esa época, el valor de joya de la familia imperial de esta raza de perritos, invocaba leyes especiales en las cuales una falta de protocolo frente a ellos se castigaba con cárcel; el robo, el secuestro o el asesinato de un pekinés se pagaba directamente con la vida del infractor.</p>
    <p>Durante mucho tiempo fueron un privilegio solo para la familia imperial y la alta nobleza china, estando prohibida su exportación. Los primeros ejemplares llegaron a Europa en el año 1860, llevados ante la reina Victoria de Inglaterra, tras las incursiones del Ejército Británico en Pekín durante la Segunda Guerra del Opio, donde el aspecto exótico de estos animales durante el saqueo del Antiguo Palacio de Verano los llevó a incluirlos en el botín, y treinta años más tarde se presentaron por primera vez en la exposición de Chester. Y de ahí a su moderna distribución, que los hace una raza conocida de perros de compañía, pero no tan popular como pareciera</p>
    <p>En la mañana del 15 de abril de 1912, un pequinés llamado "Sun Yat Sen", propiedad del millonario británico Henry Harper, fue uno de los tres perros que lograron sobrevivir al naufragio del Titanic.</p>
    <h2>Salud</h2>
    <p>De acuerdo a la encuesta realizada por el Kennel Club de Reino Unido, la raza tiene una esperanza de vida de aproximadamente 11 años con 5 meses.5​ Siendo la principal causa de muerte enfermedades de tipo cardíaco (23%),5​ seguido de vejez (21.8%).</p>
    <p>También hay que poner especial atención a los ojos grandes y saltones, ya que son sumamente sensibles a las heridas. Es una de las razas llamadas braquicéfalas, y padecen del síndrome braquiocefálico,6​ y debido a que su nariz es muy corta sufren disnea (dificultad para respirar). Esta ha sido una de las causas del porqué los activistas de los derechos animales critican los estándares raciales para esta raza, así como la práctica de las exposiciones caninas que promueve cada vez más aspectos extremadamente dañinos para la salud de estos animales.</p>
    <p>Cabe destacar que recientemente en el Reino Unido se han introducido cambios a los estándares raciales (los cuales incluyen esta raza) junto con pruebas obligatorias de salud. Cambios motivados, en gran parte, por el documental Los secretos del pedigrí. Durante la celebración de Crufts en 2012 el pequinés participante por el título de «Mejor de Raza en la Exposición» fue descalificado porque no pasó ninguno de los exámenes de salud veterinaria.</p>
    <h2>Tabla de caracterisitcas</h2>
    <table>
    <tr>
        <th>Característica</th>
        <th>Descripción</th>
    </tr>
    <tr>
        <td>Origen</td>
        <td>China</td>
    </tr>
    <tr>
        <td>Tamaño</td>
        <td>Pequeño</td>
    </tr>
    <tr>
        <td>Altura</td>
        <td>15 – 23 cm</td>
    </tr>
    <tr>
        <td>Peso</td>
        <td>3 – 6 Kg</td>
    </tr>
    <tr>
        <td>Color</td>
        <td>Rojo, sable, crema, negro</td>
    </tr>
    <tr>
        <td>Esperanza de vida</td>
        <td>12 – 15 años</td>
    </tr>
</table>

<div>
      <img src="assets/img/pequines.jpg" alt="Perro Pequines">  
      <img src="assets/img/pequines2.jpg" alt="Perro Pequines">  
</div>
    
    </div>
    {{>footer}}
    
</body>
</html>